.ol_info {
  /* display: grid; */
  padding: 1rem;
}
.cLi {
  align-items: center;
  justify-content: center;
  display: grid;
  margin: 1rem 0;
  grid-template-columns: 2fr 1fr;
  font-weight: bold;
  /* color: rgb(37, 133, 197); */
}
/* Input */
#comment {
  display: grid;
  align-self: center;
  text-decoration: none;
  padding: 3rem;
  outline: 0;

  box-sizing: border-box;
  border-radius: 4px;
}
#input_form {
  display: inline-grid;
}
.commentBtn {
  margin-top: 1rem;
  font-weight: bold;
}
label {
  font-weight: bold;
}
.messComment {
  text-align: start;
  /* color: orangered; */
}
.removeBtn {
  margin-left: 1rem;
  width: 6rem;
  font-weight: bold;
}
.comment_display_container {
  /* background-color: cadetblue;
  border-radius: 4px; */

  padding: 1rem;
  margin-left: 30%;
  margin-right: 5%;
}
.thankYou {
  padding: 3rem;
}
