.main_footer_container {
  display: flex;
  justify-content: center;
  background-color: rgb(91, 91, 91);
  padding: 2rem;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline;
}
button {
  color: white;
  padding: 10px;
  background-color: rgb(37, 133, 197);
}

.footerLinks {
  color: white;
  font-weight: bold;
  text-decoration: none;
}
