.main_container {
  display: grid;
}
.inner_container {
  display: grid;
  padding-bottom: 3rem;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
}
.search {
  /* margin-top: 2rem; */
}
.news {
  padding: 3rem;
  text-align: start;
}
.youtube {
  text-align: end;

  padding: 3rem;
}
