.news_container {
  background-color: aliceblue;
  /* border: 1px solid black; */
  box-shadow: 1px 3px 9px 3px rgb(125, 190, 246);

  padding: 3rem;
}
.newsLi {
  padding: 1.73rem;
  background-color: white;
  outline: 0;
  box-shadow: 1px 3px 9px 3px rgb(125, 190, 246);
}
.newsLi:hover {
  border: 3px solid rgb(73, 126, 187);
}
