.news_container {
  background-color: aliceblue;
  /* border: 1px solid black; */
  box-shadow: 1px 3px 9px 3px rgb(125, 190, 246);

  padding: 3rem;
}
.news_container:hover {
  background-color: rgb(205, 227, 246);
}
.nytImg {
  height: 30px;
  width: 60px;
  margin-right: 1rem;
}
.nytLogoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.newsLi {
  padding: 1.73rem;
  background-color: white;
  outline: 0;
  box-shadow: 1px 3px 9px 3px rgb(125, 190, 246);
}

.newsLi:hover {
  border: 3px solid rgb(73, 126, 187);
}
.news_title {
  color: rgb(37, 133, 197);
}
.location {
  font-weight: bold;
}
.author {
  font-weight: bold;
  color: rgb(20, 66, 31);
}
.publish_date {
  font-weight: 500;
}
.webLink {
  text-decoration: none;
  color: orangered;
  font-weight: bold;
}
.webLink:hover {
  color: rgb(138, 7, 7);
}
.section_name {
  color: rgb(20, 66, 31);
}
