.main_input_container {
  display: grid;
  grid-template-columns: 1fr;
}
.main_input {
  display: grid;
  margin: 3rem 18rem 6rem 18rem;
}
.select_form {
  padding: 9px;
  outline: 0;
  border-radius: 15px;
}
.search_text {
  margin-top: 6rem;
}
