.main_input_container {
  display: grid;
  grid-template-columns: 1fr;
}
.main_input {
  display: grid;
  grid-template-columns: 6fr 0.25fr 1fr;
  grid-gap: 0.5rem;
  margin: 2rem 16rem 3rem 18rem;
  align-items: center;
}
.select_form {
  padding: 9px;
  outline: 0;
  border-radius: 15px;
  cursor: pointer;
}
.search_text {
  margin-top: 6rem;
}
.searchBtn {
  cursor: pointer;
}
.search_container {
  display: flex;
}
.switchThemeBtn {
  align-items: center;
  width: max-content;
  cursor: pointer;
}
.termDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.termDisplayTerm {
  color: orangered;
  font-size: 50px;
}
