.voteContainer {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 1rem;
}
.voting_title {
  margin: 0 0 30px 0;
  color: rgb(37, 133, 197);
}
.countImg {
  height: 4rem;
}
.voteBTN {
  box-shadow: 3px 3px 3px 3px rgb(202, 202, 202);
  cursor: pointer;
}
.voteBTN:hover {
  background-color: rgb(226, 71, 71);
}
.yes {
  color: rgb(46, 133, 46);
}
.notSure {
  color: orange;
}
.no {
  color: rgb(214, 23, 16);
}
