.youtubeContainer {
  background-color: aliceblue;
  /* border: 1px solid black; */
  box-shadow: 1px 3px 9px 3px rgb(125, 190, 246);

  padding: 3rem;
}
.youtubeContainer:hover {
  background-color: rgb(205, 227, 246);
}
.infoTitle {
  color: rgb(236, 47, 47);
}
.ytImg {
  height: 30px;
  width: 60px;
  margin-right: 1rem;
}
.iframe_container {
  display: grid;
  padding: 10px;
}

.youtubeLi {
  padding: 2rem;
  background-color: white;
  outline: 0;
  text-align: start;
  box-shadow: 1px 3px 9px 3px rgb(125, 190, 246);
}
.youtubeLink {
  text-decoration: none;
  color: orangered;
  font-weight: bold;
}
.youtubeLink:hover {
  color: rgb(138, 7, 7);
}
.ytLogoContainer {
  display: flex;
  justify-content: center;
  margin-right: 1rem;
  align-items: center;
  padding-bottom: 9px;
}
.youtubeLi:hover {
  border: 3px solid rgb(236, 47, 47);
}
.youtubeInfo {
  display: flex;
  grid-gap: 1rem;
}
.channelTitle {
  /* color: rgb(37, 133, 197); */
  color: rgb(236, 47, 47);
}
.ytTitle {
  color: rgb(37, 133, 197);

  /* color: rgb(236, 47, 47); */
}
.ytDate {
  font-weight: 500;
}
